<a href="https://colab.research.google.com/github/CristianoDataScience/Projeto-Aplicado-SRAG-SP-Analise-Preditiva/blob/main/amostragem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando Bibliotecas

In [1]:
import pandas as pd 
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Base de dados

In [5]:
df_sp = pd.read_csv('/content/drive/MyDrive/Projeto_Aplicado_SRAG/base_dados_srag_sp.csv',
                    sep=',', encoding='iso-8859-1')
# encoding: codificação de caracteres, normalmente utiliza-se o iso-8859-1, utf-8, latin-1)
df_sp.head()

,data,minicipio,idade,sexo,srag,evolucao,qtde_masculino,qtde_feminino,total
0,2023-02-10,UBATUBA,55,Feminio,Covid-19,Cura,0,1,1
1,2021-02-22,SAO PAULO,40,Masculino,Covid-19,Cura,7,0,7
2,2020-11-13,SAO PAULO,65,Feminio,Covid-19,Cura,0,1,1
3,2021-02-10,SAO PAULO,25,Feminio,Covid-19,Cura,0,2,2
4,2021-02-18,GUARATINGUETA,75,Masculino,Covid-19,Cura,1,0,1

In [6]:
#renomendo as linhas 
df_sp['sexo'] = df_sp['sexo'].replace({'Masculino': 'M', 'Feminio': 'F'})
df_sp

,data,minicipio,idade,sexo,srag,evolucao,qtde_masculino,qtde_feminino,total
0,2023-02-10,UBATUBA,55,F,Covid-19,Cura,0,1,1
1,2021-02-22,SAO PAULO,40,M,Covid-19,Cura,7,0,7
2,2020-11-13,SAO PAULO,65,F,Covid-19,Cura,0,1,1
3,2021-02-10,SAO PAULO,25,F,Covid-19,Cura,0,2,2
4,2021-02-18,GUARATINGUETA,75,M,Covid-19,Cura,1,0,1
...,...,...,...,...,...,...,...,...,...
857826,2020-06-01,DIADEMA,55,M,Covid-19,Cura,1,0,1
857827,2020-06-02,ITAPEVI,55,M,Covid-19,Cura,1,0,1
857828,2020-04-16,SAO PAULO,60,M,Outras SRAG,Óbito,1,0,1
857829,2020-06-05,PIRACICABA,45,F,Covid-19,Cura,0,1,1
857830,2021-11-24,TABOAO DA SERRA,70,M,Covid-19,Cura,1,0,1

## Base de Dados apenas Síndrome Respiratória Aguda Grave (SRAG)

In [35]:
df_sp = df_sp[df_sp['srag'] != 'Covid-19']
df_sp = df_sp.rename(columns={'minicipio': 'municipio', 'idade': 'faixa_etaria'})
df_sp

,data,municipio,faixa_etaria,sexo,srag,evolucao,qtde_masculino,qtde_feminino,total
5,2023-02-09,SAO PAULO,10,F,Outras SRAG,Cura,0,1,1
6,2023-02-24,SAO PAULO,10,M,Outras SRAG,Em Avaliação,1,0,1
7,2021-08-13,BRAGANCA PAULISTA,10,F,Outras SRAG,Cura,0,1,1
8,2023-02-19,PRAIA GRANDE,10,F,Outras SRAG,Em Avaliação,0,1,1
9,2023-02-22,SAO JOSE DO RIO PRETO,20,F,Outras SRAG,Cura,0,1,1
...,...,...,...,...,...,...,...,...,...
857818,2021-09-21,SAO PAULO,50,M,Outras SRAG,Cura,1,0,1
857821,2021-03-02,SAO JOSE DO RIO PRETO,50,M,Outras SRAG,Óbito,1,0,1
857822,2020-07-24,CAMPINAS,80,M,Outras SRAG,Cura,1,0,1
857823,2020-07-20,MOGI DAS CRUZES,45,M,Outras SRAG,Óbito,1,0,1
857828,2020-04-16,SAO PAULO,60,M,Outras SRAG,Óbito,1,0,1

In [37]:
#Analisando quantidade de casos por idade 
df_sp['faixa_etaria'].value_counts().sort_index()

0      44349
5      25534
10     10661
15      5085
20      7579
25      8980
30     10654
35     12719
40     13841
45     14988
50     17134
55     20402
60     23118
65     24997
70     25343
75     24121
80     22408
85     17887
90     10871
95      3591
100      566
105       45
110        1
115        1
Name: faixa_etaria, dtype: int64

In [30]:
#Análise estatística
df_sp.describe()

              idade  qtde_masculino  qtde_feminino          total
count  344875.00000   344875.000000  344875.000000  344875.000000
mean       46.24116        0.597524       0.560206       1.157796
std        29.70297        0.752596       0.718363       0.642560
min         0.00000        0.000000       0.000000       1.000000
25%        20.00000        0.000000       0.000000       1.000000
50%        55.00000        1.000000       0.000000       1.000000
75%        70.00000        1.000000       1.000000       1.000000
max       115.00000       34.000000      28.000000      34.000000

In [31]:
df_sp['total'].value_counts().sort_index()

1     311613
2      22798
3       5760
4       2297
5       1067
6        540
7        306
8        180
9        113
10        62
11        52
12        26
13        20
14        14
15         9
16         3
17         5
18         3
19         2
20         2
22         1
28         1
34         1
Name: total, dtype: int64

## Analisando casos de 0 há 15 anos por municipio

In [38]:
menores_de_15 = df_sp.query('faixa_etaria <= 15')['municipio'].value_counts()

In [39]:
menores_de_15

SAO PAULO              19954
GUARULHOS               6853
CAMPINAS                5133
SAO JOSE DOS CAMPOS     1793
DIADEMA                 1783
                       ...
GLICERIO                   1
ITAPIRAPUA PAULISTA        1
BARRA DO CHAPEU            1
TAIUVA                     1
CAFELANDIA                 1
Name: municipio, Length: 608, dtype: int64

In [40]:
df_sp_maiores = df_sp.loc[df_sp.faixa_etaria > 15]
df_sp_maiores

,data,municipio,faixa_etaria,sexo,srag,evolucao,qtde_masculino,qtde_feminino,total
9,2023-02-22,SAO JOSE DO RIO PRETO,20,F,Outras SRAG,Cura,0,1,1
13,2023-02-20,DIADEMA,85,M,Outras SRAG,Óbito,1,0,1
16,2022-11-28,BRAGANCA PAULISTA,90,F,Outras SRAG,Cura,0,2,2
17,2023-02-21,SAO PAULO,50,M,Outras SRAG,Em Avaliação,1,0,1
19,2023-02-27,SAO PAULO,40,M,Outras SRAG,Em Avaliação,1,0,1
...,...,...,...,...,...,...,...,...,...
857818,2021-09-21,SAO PAULO,50,M,Outras SRAG,Cura,1,0,1
857821,2021-03-02,SAO JOSE DO RIO PRETO,50,M,Outras SRAG,Óbito,1,0,1
857822,2020-07-24,CAMPINAS,80,M,Outras SRAG,Cura,1,0,1
857823,2020-07-20,MOGI DAS CRUZES,45,M,Outras SRAG,Óbito,1,0,1
857828,2020-04-16,SAO PAULO,60,M,Outras SRAG,Óbito,1,0,1

## AMOSTRAGEM ALEATÓRIA SIMPLES

In [41]:
np.random.seed(1)

In [42]:
amos_simples = df_sp_maiores.sample(frac=0.20) # Percentual

In [43]:
amos_simples

,data,municipio,faixa_etaria,sexo,srag,evolucao,qtde_masculino,qtde_feminino,total
504179,2020-12-07,SANTOS,70,F,Outras SRAG,Em Avaliação,0,1,1
524645,2022-07-27,PRESIDENTE PRUDENTE,75,F,Outras SRAG,Em Avaliação,0,1,1
545119,2021-02-06,TABOAO DA SERRA,40,M,Outras SRAG,Cura,1,0,1
163930,2021-05-10,SAO PAULO,80,F,Outras SRAG,Em Avaliação,0,1,1
433336,2020-11-04,SAO PAULO,50,M,Outras SRAG,Óbito,1,0,1
...,...,...,...,...,...,...,...,...,...
269548,2020-09-10,GUARULHOS,60,F,Outras SRAG,Cura,0,1,1
541551,2020-04-13,SAO PAULO,60,M,Outras SRAG,Cura,1,0,1
540492,2022-09-22,SAO PAULO,30,M,Outras SRAG,Cura,1,0,1
265681,2022-01-11,SOROCABA,50,M,Outras SRAG,Óbito,1,0,1
93501,2022-09-08,PAULINIA,75,M,Outras SRAG,Cura,1,0,1